<div class="row marketing" ng-init="init()" ng-if="!selectedBottle && !newBottle">

  <h4>Bottles</h4>
  <ul>
    <li ng-repeat="bottle in bottles">
      <span ng-click="selectBottle(bottle)">{{bottle.type}}</span>
      <span ng-click="deleteBottle(bottle)">delete</span>
    </li>
    <li ng-if="bottles.length == 0">No bottles</li>
  </ul>

  <div ng-click="addBottle()">New Bottle</div>

</div>

<div class="row well" ng-if="selectedBottle">

  <h2>{{selectedBottle.type}}</h2>

  <b>Amount:</b> {{selectedBottle.amount}}<br>
  <b>Pin:</b> {{selectedBottle.pin}}

  <div ng-click="editBottle(selectedBottle)">edit</div>
  <br>
  <div ng-click="backToList()">close</div>

</div>

<div class="row well" ng-if="newBottle">
  <h2>New Bottle</h2>

  <input type="text" name="type" placeholder="Type" ng-model="newBottle.type"/>
  <br>
  <input type="text" name="amount" placeholder="Amount" ng-model="newBottle.amount"/>
  <br>
  <input type="text" name="pin" placeholder="Pin" ng-model="newBottle.pin"/>
  <br>

  <button ng-click="saveBottle()">Create Bottle</button>
  <div ng-click="backToList()">cancel</div>

</div>
