<div class="row marketing" ng-init="init()" ng-if="!selectedDrink && !newDrink">

  <h4>Drinks</h4>
  <ul>
    <li ng-repeat="drink in drinks">
      <span ng-click="selectDrink(drink)">{{drink.name}}</span>
      <span ng-click="deleteDrink(drink)">delete</span>
    </li>
    <li ng-if="drinks.length == 0">No drinks</li>
  </ul>

  <div ng-click="addDrink()">New Drink</div>

</div>

<div class="row well" ng-if="selectedDrink">

  <h2>{{selectedDrink.name}}</h2>

  <h4>Ingredients</h4>
  <ul>
    <li ng-repeat="ingredient in selectedDrink.ingredients">{{ingredient.amount}}ml of {{ingredient.type}}</li>
    <li ng-if="drinks.length == 0">No ingredients</li>
  </ul>
  <br>

  <div ng-click="backToList()">close</div>

</div>

<div class="row well" ng-if="newDrink">
  <h2>New Drink</h2>

  <input type="text" name="name" placeholder="Name" ng-model="newDrink.name"/>
  <br>
  <br>

  <h3>Ingredients</h3>

  <ul>
    <li ng-repeat="ingredient in newDrink.ingredients">
      <input type="text" name="ingredient-amount" ng-model="ingredient.amount"/>ml
      of
      <input type="text" name="ingredient-type" ng-model="ingredient.type"/>
      <br>
    </li>
  </ul>
  <div ng-click="addIngredient()">Add Ingredient</div>
  <br>

  <button ng-click="createDrink()">Create Drink</button>
  <div ng-click="backToList()">cancel</div>

</div>
